body{

  background:gray;
}

#headline{
  text-align:center;
}

.container{
  background:white;
}

#loan_src{
  float:left;
  width:50%;
  height:220px;
  margin-bottom:10px;
  text-align:left;
  
}

#loan_info{
  float:right;
  width:50%;
  height:230px;
  margin-bottom:10px;
}

#table_header {
  clear:both;
  background:maroon;
  color:white;
}

#table_header th
{
  text-align:center;
}

#table {
  overflow:auto;
  max-height:500px;
  text-align:center;
}
